<div style="float: left;">
	<div>Probability map</div>
	<div>neighbours : probabilities</div>
	<div>empty-ground-water : [ground, water]</div>
	<br />
	<div ng-repeat="(key, value) in ProbabilityMap" style="margin-bottom: 1px;">
		{{key}} : {{value}} 
		<span 
		ng-click="changeProbability(key, +1)" 
		style="cursor:pointer; display:inline-block; background-color: lightgrey; text-align:center; width: 20px; height: 20px;">
			+
		</span>
		
		<span 
		ng-click="changeProbability(key, -1)" 
		style="cursor:pointer; display:inline-block; background-color: lightgrey; text-align:center; width: 20px; height: 20px;">
			-
		</span>
	</div>
</div>
<div style="position: relative; float: left;" >
	<div ng-style="{width : (mapWidth * tileUStep) + 'px', height : ((mapHeight+1) * tileVStep) + 'px'}">
		<div ng-repeat="line in lines" style="position: relative;">
			<span ng-init="lineIndex = $index" />
			<span ng-init="v = lineIndex" />
			<span ng-repeat="cell in line track by $index" >
				<span ng-init="u = v % 2 == 0 ? $index * 2 + 1 : $index * 2" />
				<div 
				style="position: absolute;" 
				ng-style="{
					width : tileWidth + 'px', 
					height : tileHeight + 'px', 
					top : (v * tileVStep) + 'px', 
					left : (u * tileUStep) + 'px', 
					backgroundImage: 'url(views/tile-' + (cell === null ? 'blank' : (cell ? 'ground' : 'sea')) + '.png)'
					}"
				ng-click="clickTile(u,v)"
				> 
					
					<!-- {{u}} {{v}} -->
				</div>
			</span>
		</div>
	</div>
	<div ng-click="clearMap()" style="cursor: pointer;">Clear map</div>
	<div ng-click="autoFillMap()" style="cursor: pointer;">Auto fill map</div>
</div>

<div style="clear: both;"></div>

